{
	"bot": {
		"token": "xoxb-XXXX-XXXX",
		"name": "potato" // give it the same name as you have configured in the integration settings
	},
	"couch": {
		"host": "127.0.0.1",
		"port": "5050",
		"key": "XXXX"
	}
}
