{
	"bot": {
		"token": "xoxb-XXXX-XXXX",
		"name": "coupo",
		"channel": "movies" // Optional (Watch only in this channel for messages)
	},
	"couch": {
		"host": "127.0.0.1",
		"port": "5050",
		"key": "XXXX"
	}
}
